*{
    margin: 0px;
    padding: 0px;
}

.main{
    /* margin: 0px 15px; */
    display: flex;
    flex-direction: row;
}

.left{
    width: 50%;
    /* background-color: red; */
}

.right{
    width: 50%;
    /* background-color: pink; */
}

.image1{
    width: 500px;
    height: 500px;
}